* {
  /* padding: 0; */
  margin: 0;
}

.main {
  position: fixed;
  padding: 10px;
  background: rgb(5, 5, 46);
  /* background: content-box; */
  color: white;
  font-weight: bold;
  opacity: 200%;
  width: 60%;
  height: 100vh;
  margin: 0;
  text-align: left;
  left: -100%;
  transition: 0.5s;
}

.main ul li {
  list-style: none;
  padding: 10px 0px;
}

.hamburger {
  display: none;
}

.enquire_cross {
  position: absolute;
  right: 3px;
  top: 1px;
  margin: 5px;
  width: 35px;
  height: 35px;
  background: rgb(16, 16, 133);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.showMenu {
  left: 0%;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 0px;
    margin: 5px;
    width: 40px;
    height: 40px;
    background: rgb(16, 16, 133);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
  }
  .enquire_cross {
    right: 45px;

  }
}

.modalOverlay {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.ModalDiv {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  position: fixed;
  width: 500px;
  height: 500px;
  left: 50%;
  transition: 0.5s;
  top: -500%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.showModalDiv {
  top: 50%;
}

.showModalOverlay {
  display: block;
}

.enquire_btn {
  transform: rotate(90deg);
  position: fixed;
  right: -1%;
  top: 10%;
  border: none;
  margin-top: 5px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: rgb(16, 16, 133);
  color: white;
}

@media (max-width: 768px) {
  .enquire_btn {
    margin-top: 20px;
    right: -6%;
  }
}

.signup-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}

.faqOuter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 1320px; */
  margin: auto;
}

.faqItems {
  border: 1px solid red;
  width: 95%;
  margin-bottom: 10px;
  /* height: 42px; */
}

.faqItems h2 {
  margin: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  text-align: left;
}

.faqItems p {
  text-align: left;
  height: 0px;
  transition: 0.5s;
  margin: 0px;
  transform: scaleY(0);
  padding: 0px;
}

.activeItem {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}